//Colors
$color-light-green: #7ed56f; 
$color-medium-green: #55c57a; 
$color-dark-green: #28b485;

$color-secondary-light: #ffb901;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-black: #000;
$color-white: #fff;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #999;
$color-grey-dark-3: #333;
//Grid System
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Font sizes
$default-font-size: 1.6rem;