.footer{
    background-color: $color-grey-dark-3;
    padding: 10rem 0;

    &__logo-box{
        text-align: center;
    }
    &__logo{
        width: 15rem;
        height: auto;
    }
    &__navigation{
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline;
        &:not(:last-child){
            margin-right: 2.5rem;
        }
    }
    &__link{
        color: $color-white;
        font-family: inherit;
        font-size: 1.5rem;
        text-decoration: none;
        display: inline;
        padding-bottom: .8rem;
        &:hover{
            border-bottom: 2px solid white;
            color: $color-light-green;
        
        }
    }
    &__copyright{
        color: $color-white;
        font-size: 1.5rem;
        border-top: 1px solid $color-grey-light-1;
        padding-top: 2rem;
        display: inline-block;
        width: 80%;
        float: right;
    }
}