.form{
    &__group{
        &:not(:last-child){
            margin-bottom:1rem;   
        }
    }
    &__input{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        font-family: inherit;
        border: none;
        background-color: rgba($color-white, .6);
        border-radius: 5px;
        border-bottom: 2px transparent solid;
        width: 85%;
        display: block;
        &::-webkit-input-placeholder{
            color: $color-grey-dark-1;
        }
        &:focus{
            outline: none;
            border-bottom: 2px $color-light-green solid;
            &:invalid{
                border-bottom: 2px red solid;
            }
        }

    }
    &__label{
        font-family: inherit;
        font-size: 1.2rem;
        display:block;
        margin-left: 2rem;
        margin-top: .3rem;
        transition: all .5s ease;

    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);   
    }

    &__radio-group{
        display: inline-block;
        width: 49%;
    }
    &__radio-input{
        display: none;
    }
    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        padding: 3.5rem;
        position: relative;
    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        display: inline-block;
        border: 5px solid $color-light-green;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 3rem;
        &::after{
            content: '';
            height: 1rem;
            width: 1rem;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: red;
            opacity: 0;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity:1;
    }
}