.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInleft;
        animation-duration: 2s;
        @include respond(phone){
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }
    &--sub{
        display: block;
        font-size: 2.0rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
        animation-name: moveInright;
        animation-duration: 2s;
        @include respond(phone){
            letter-spacing: .5rem;
        }   
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-light-green, $color-dark-green);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s ease-in;
    letter-spacing: 2px;
    @include respond(tab-port){
        font-size: 3rem;
    } 
    @include respond(phone){
        font-size: 2.5rem;
    } 

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}